<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.srijan" />


    <!-- bean definitions here -->
    <!-- <bean id = "n" class="com.srijan.Nurse"></bean>
<bean id = "d" class="com.srijan.Doctor">
    <constructor-arg value="MBBS"></constructor-arg>
    &lt;!&ndash;<property name="nurse" ref="nurse"></property>&ndash;&gt;
   &lt;!&ndash; <property name = "qualification" value = "MBBS"></property>&ndash;&gt;
</bean>-->
</beans>